.emoji{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #FFCC4D;
    position: relative;
    padding-top: 120px;
}
.eye{
    width: 80px;
    height: 150px;
    border-radius: 40px;
    background-color: #664500;
    
}
.eye:first-child{
    margin-right: 140px;
}

.eyes{
    display: flex;
    justify-content: center;

}
.mouth{

    width: 400px;
    height: 300px;
    border-radius: 50%;
    /* background-color: #664500; */
    border-bottom:60px solid #664500;
    margin: 0 auto;
    margin-top: -60px;
}